<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devesh_quiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".Physics.PhysicsAnswers"></activity>
        <activity android:name=".maths.MathsAnswers" />
        <activity android:name=".ExtraActivity" />
        <activity android:name=".SST.SSTResultActivity" />
        <activity android:name=".SST.SSTQuestionsActivity" />
        <activity android:name=".Physics.PhysicsResultActivity" />
        <activity android:name=".Physics.PhysicsQuestionActivity" />
        <activity android:name=".Chemistry.ChemistryResultActivity" />
        <activity android:name=".Chemistry.ChemistryQuestionsActivity" />
        <activity android:name=".SST.SstActivity" />
        <activity android:name=".Chemistry.ChemistryActivity" />
        <activity android:name=".Physics.PhysicsActivity" />
        <activity android:name=".maths.MathsActivity" />
        <activity android:name=".maths.QuestionsActivity" />
        <activity android:name=".maths.ResultActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>